/.idea
/test-app/vendor
/test-app/phpunit.xml
/test-app/.editorconfig
/test-app/.env
/test-app/package.json
/docker.local/data
/docker.local/.DS_Store
/docker.local/.env
/docker.local/php-fpm/.DS_Store